<app-loading [isLoading]="isLoading"></app-loading>
<div class="container-xxl gradient-custom-4">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register Card -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <!-- Your SVG Logo Here -->
              </span>

            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">🚀Start Your Form Experience🚀</h4>
          <p class="mb-4">Easily fill out and interact with forms to streamline your tasks!</p>


          <form id="formAuthentication" (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                [(ngModel)]="user.username"
                placeholder="Enter your username"
                required
                #username="ngModel"
              />
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                Username is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter your email"
                required
                #email="ngModel"
              />
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                Valid email is required.
              </div>
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">Password</label>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="user.password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                  required
                  #password="ngModel"
                />

              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                Password is required.
              </div>
            </div>


            <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="signupForm.invalid">Sign up</button>
          </form>

          <p class="text-center">
            <span>Already have an account?</span>
            <a href="login">
              <span>Sign in instead</span>
            </a>
          </p>
        </div>
      </div>
      <!-- Register Card -->
    </div>
  </div>
</div>
