<div class="form-page-container">
  <!-- Left side: Black background with form description -->
  <div class="form-info-container">
    <div class="info-text">
      <h1>{{ form?.title }}</h1>
      <p>{{ form?.description }}</p>
    </div>
  </div>

  <!-- Right side: Form -->
  <div class="form-detail-container">
    <form (ngSubmit)="submitAnswers()" novalidate>
      <!-- Progress Bar -->
      <div class="progress">
        <div class="progress-bar" [style.width.%]="(currentPage / totalPages) * 100" role="progressbar">
          {{ currentPage }} of {{ totalPages }}
        </div>
      </div>



      <!-- Read Form Content Button -->
      <button class="btn read-btn" (click)="readFormContent()">Read Form Content</button>


      <!-- Step Container -->
      <div class="step-container">
        <ng-container *ngIf="steps.length > 0">
          <h2 class="step-title">Step {{ currentPage }}: {{ steps[currentPage - 1]?.title }}</h2>

          <div class="question-container" *ngFor="let question of steps[currentPage - 1]?.questions ; let i = index">
            <div [ngSwitch]="question.input.inputType" class="question-block">

              <!-- Short answer -->
              <div *ngSwitchCase="'Short answer'" class="input-group">
                <label>
                  {{ question.question }}
                  <span *ngIf="question.required" class="required-asterisk">*</span>
                </label>
                <input type="text"
                       [attr.name]="'question-' + question.idQuestion"
                       (focus)="setCurrentQuestion(question)"
                       [(ngModel)]="answers[question.idQuestion]"
                       [ngModelOptions]="{standalone: true}"
                (input)="handleAnswerChange(question.idQuestion, answers[question.idQuestion])"
                       [ngClass]="{'input-error': isFieldError(question.idQuestion)}"
                       class="form-control" required />
                <!-- Microphone icon to start recording -->
                <button type="button" class="mic-btn" (click)="startVoiceRecording(question.idQuestion)">🎤</button>

                <div *ngIf="isFieldError(question.idQuestion)" class="invalid-feedback">
                  This field is required.
                </div>

                <!-- Suggestions button -->
                <button type="button" (click)="getSuggestions(question)" class="btn btn-primary mt-2">Get Suggestions</button>

                <div>
                  <!-- Show/Hide Suggestions Button -->
                  <button type="button" class="toggle-btn" (click)="toggleSuggestions(question.idQuestion)">
                    {{ isSuggestionsVisible[question.idQuestion] ? 'Hide' : 'Show' }} Suggestions
                  </button>

                  <!-- Suggestions section -->
                  <div *ngIf="isSuggestionsVisible[question.idQuestion]" class="suggestions-list">
                    <h5>Suggestions:</h5>
                    <ul>
                      <li *ngFor="let suggestion of suggestionsMap[question.idQuestion]" class="suggestion-item"
                          (click)="selectSuggestion(suggestion, question.idQuestion)">
                        {{ suggestion }}
                      </li>
                    </ul>
                  </div>
                </div>



              </div>

              <!-- Paragraph -->
              <div *ngSwitchCase="'Paragraph'" class="input-group">
                <label>
                  {{ question.question }}
                  <span *ngIf="question.required" class="required-asterisk">*</span>
                </label>
                <textarea [attr.name]="'question-' + question.idQuestion"
                          [(ngModel)]="answers[question.idQuestion]"
                          [ngModelOptions]="{standalone: true}"
                          (input)="handleAnswerChange(question.idQuestion, $event)"
                          [ngClass]="{'input-error': isFieldError(question.idQuestion)}"
                          class="form-control" required>
</textarea>
                <!-- Microphone icon to start recording -->
                <button type="button" class="mic-btn" (click)="startVoiceRecording(question.idQuestion)">🎤</button>

                <div *ngIf="isFieldError(question.idQuestion)" class="invalid-feedback">
                  This field is required.
                </div>

                <!-- Suggestions button -->
                <button type="button" (click)="getSuggestions(question)" class="btn btn-primary mt-2">Get Suggestions</button>

                <!-- Show/Hide Suggestions Button -->
                <button type="button" class="toggle-btn" (click)="toggleSuggestions(question.idQuestion)">
                  {{ isSuggestionsVisible[question.idQuestion] ? 'Hide' : 'Show' }} Suggestions
                </button>

                <!-- Suggestions section -->
                <div *ngIf="isSuggestionsVisible[question.idQuestion]" class="suggestions-list">
                  <h5>Suggestions:</h5>
                  <ul>
                    <li *ngFor="let suggestion of suggestionsMap[question.idQuestion]" class="suggestion-item"
                        (click)="selectSuggestion(suggestion, question.idQuestion)">
                      {{ suggestion }}
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Checkboxes -->
              <div *ngSwitchCase="'Checkboxes'" class="input-group">
                <label>
                  {{ question.question }}
                  <span *ngIf="question.required" class="required-asterisk">*</span>
                </label>
                <div class="options-container">
                  <div class="form-check" *ngFor="let option of question.options">
                    <input type="checkbox" class="form-check-input"
                           [attr.id]="'checkbox-' + question.idQuestion + '-' + option.idOption"
                           [attr.value]="option.option"
                           (change)="handleAnswerChange(question.idQuestion, $event)"
                           [checked]="isChecked(option.option, question.idQuestion)" />
                    <label class="form-check-label"
                           [attr.for]="'checkbox-' + question.idQuestion + '-' + option.idOption">
                      {{ option.option }}
                    </label>
                  </div>
                </div>
              </div>

              <!-- Multiple Choice (Radio Buttons) -->
              <div *ngSwitchCase="'Multiple choice'" class="input-group">
                <label>
                  {{ question.question }}
                  <span *ngIf="question.required" class="required-asterisk">*</span>
                </label>
                <div class="options-container">
                  <div class="form-check" *ngFor="let option of question.options">
                    <input type="radio" class="form-check-input"
                           [attr.name]="'radio-' + question.idQuestion"
                           [attr.id]="'radio-' + question.idQuestion + '-' + option.idOption"
                           [attr.value]="option.option"
                           (change)="handleAnswerChange(question.idQuestion, $event)"
                           [checked]="answers[question.idQuestion] === option.option" />
                    <label class="form-check-label"
                           [attr.for]="'radio-' + question.idQuestion + '-' + option.idOption">
                      {{ option.option }}
                    </label>
                  </div>
                </div>
              </div>

              <!-- Drop-down -->
              <div *ngSwitchCase="'Drop-down'" class="input-group">
                <label>
                  {{ question.question }}
                  <span *ngIf="question.required" class="required-asterisk">*</span>
                </label>
                <select [attr.name]="'question-' + question.idQuestion"
                        (change)="handleAnswerChange(question.idQuestion, $event)"
                        [ngClass]="{'input-error': isFieldError(question.idQuestion)}"
                        class="form-control" required
                        [value]="answers[question.idQuestion] || ''">
                  <option value="" disabled>Select an option</option>
                  <option *ngFor="let option of question.options" [value]="option.option">
                    {{ option.option }}
                  </option>
                </select>
                <div *ngIf="isFieldError(question.idQuestion)" class="invalid-feedback">
                  This field is required.
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="formErrors" class="error-message">{{ formErrors }}</div>
      <div *ngIf="currentPage === totalPages">
        <button type="submit" class="submit-button">Submit Answers</button>
      </div>
      <!-- Pagination controls -->
      <div class="pagination-controls">
        <button type="button" class="btn" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button type="button" class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages || !isPageValid()">Next</button>
      </div>
    </form>
  </div>
</div>
